# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/logs

/integration-*.log
/*-review.log
/mc1201-*.log
__pycache__/
*.pyc
